@import org.tasks.persistence.Task
@(tasks: List[Task])


<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"/>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="//code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

<head>
    @* Here's where we render the page title `String`. *@
    <title>tasks</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>


    <body>

    @views.html.navigationBar()

        @* And here's where we render the `Html` object containing
         * the page content. *@
         all tasks in the DB
        @tasks.toString<br>
	<script type="text/javascript" class="init">
$(document).ready(function() {
$('#tasks').DataTable();
} );
</script>
        <table id="tasks" class="display" style="width:20%">
<thead>
<tr>
<th>id</th>
<th>title</th>
<th>note</th>
<th>categoryID</th>
<th>creationDate</th>
<th>dueDate</th>
<th>isDone</th>
</tr>
</thead>
<tbody>
@for(task <- tasks) {
<tr>
<td>@task.id</td>
<td>@task.title</td>
<td>@task.note</td>
<td>@task.categoryID</td>
<td>@task.creationDate</td>
<td>@task.dueDate</td>
<td>@task.isDone</td>
</tr>
}
</tbody>
</table>
    </body>
</html>