@import org.tasks.persistence.Task
@(taskID: Int, task: Task, taskForm: Form[Task])(implicit messages: Messages)
you are editing task with id @(taskID)
@helper.form(action = routes.TaskController.submitEdit()) {
  @helper.inputText(taskForm("id"))
  @helper.inputText(taskForm("title"))
  @helper.inputText(taskForm("note"))
  @helper.inputText(taskForm("categoryID"))
  @helper.inputDate(taskForm("dueDate"))
  @helper.inputText(taskForm("isDone"))
<button id="submit" type="submit" value="Submit">submit</button>
}>