
    <nav class="navbar navbar-inverse">
     <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="@routes.TaskController.getAll">Tasks</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="@routes.CategoryController.form">Create Category</a></li>
                <li><a href="@routes.TaskController.form()">Create Task</a></li>
                <li><a href="@routes.DependencyController.getAll">Dependencies</a></li>
            </ul>
        </div>
    </nav>

