@import org.tasks.persistence.Category


@(categoryForm: Form[Category])(implicit messages: Messages)


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

@views.html.navigationBar()

<div class="panel panel-default" style="max-width:400px;margin-left:auto; margin-right:auto;">


@helper.form(action = routes.CategoryController.submit()) {
@helper.inputText(categoryForm("category"), 'class -> "form-control"))

<button id="submit" type="submit" value="Submit">submit</button>
}